<div class="wrapper">
  <div class="placeholder-top"></div>
  <div class="product-title d-flex justify-content-between p-2">
    <%= link_to :back, class: "previous-button" do %>
      <div class="img-btn-previous"><%= image_tag "button-previous.png" %></div>
    <% end %>
    <%# <input type="button" onclick="history.back()"> %>
    <h1>Meals</h1>
    <%= link_to restaurant_restaurant_drinks_path(@restaurant, {table: @table}), class: "previous-button" do %>
      <div class="img-btn-next"><%= image_tag "Button-next.png" %></div>
    <% end %>
  </div>
  <div class="accordion p-2 d-grid gap-3" id="accordion" data-controller="cartcounter">
    <% @categories.each do |category|%>
      <div class="accordion-item text-center">
        <button class="categories-card rounded text-center" type="button" data-bs-toggle="collapse" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key %>')">
          <%= category.name %>
        </button>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <% category.products.each do |product| %>
              <div class="accordion-body" data-controller="product" data-product-id-value='<%= product.id %>' data-product-price-value='<%= product.price %>' data-product-table-value="<%= @table %>">
                <div class="outer-meal-card d-flex" >
                  <div class="img-allergy">
                    <%= cl_image_tag product.photo.key, class: 'food-image'%>
                    <div class="allergies d-flex justify-content-around">
                      <% product.allergies.each do |allergy| %>
                        <img class="allergy-img" src=<%= allergy.url %>>
                      <% end %>
                    </div>
                  </div>
                  <div class="half-card text-start">
                    <div>
                      <%= render partial: 'shared/stars_rating', locals: {product: product} %>
                      <h3 class="title"><%= product.name %></h3 >
                    </div>
                    <div class="description">
                      <p><%= product.description %></p>
                    </div>
                    <div class="price-button d-flex justify-content-between align-bottom">
                      <p class="price"><%= number_to_currency(product.price, unit: '€ ', separator: ",", format: "%n %u")%></p>
                      <div class="order-button btn-color btn-product">
                        <i class="fa-solid fa-plus fa-l margin-plus-favicon" data-action='click->product#updatecart click->cartcounter#updatecounter'></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to cart_path, class: "btn btn-color pay-button sticky py-3" do %>
      <strong>
        View Cart<span data-cartcounter-target="output"></span>
      </strong>
    <% end %>
  </div>
</div>
